.quote {
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  margin: 0 0 16px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: italic;
  background-color: #22004C;

  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.text {
  background-color: #22004C;
  margin: 0;
  color: #EFD9FF;
  text-align: center;
  white-space: pre-line;
}

.author {
  background-color: #22004C;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #A57FFE;
  font-style: normal;
}

/* телефон */
@media (max-width: 767px) {
  .quote {
    padding: 0.8rem;
    font-size: 0.95rem;
  }
}