.title {
  margin-left: 48px;
  margin-top: 16px;
  font-family: var(--font-jaini-purva);
  color: #efd9ff;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;

  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 56px;
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 42px;
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
    margin-top: 16px;
  }
}