/* index.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 150%;
  background: #110d20;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-x: hidden;
}

/* контейнерные переменные для адаптива */
:root {
  --container-max: 1200px; /* ширина контента на десктопе */
  --container-pad: clamp(8px, 2vw, 16px);
  --gap: 24px;
  --radius: 10px;
  --shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* ноутбук */
@media (min-width: 768px) and (max-width: 1199px) {
  :root {
    --container-max: 92vw;
  }
}

/* телефон */
@media (max-width: 767px) {
  :root {
    --container-max: 100%;
    --gap: 12px;
  }
}

/* Шрифты */
.jaini-purva {
  font-family: var(--font-jaini-purva) !important;
}
